@import "tailwindcss";
@tailwind utilities;

/* =========================
   Design tokens (brand)
   ========================= */
:root {
  --brand-primary: #C89B3C;
  --brand-secondary: #3F5D3A;
  --brand-dark: #2B2B2B;
  --brand-color: #693232;
}

/* =========================
   Utilidades equivalentes
   ========================= */
@layer utilities {
  .bg-brand-primary {
    background-color: var(--brand-primary);
  }

  .bg-brand-secondary {
    background-color: var(--brand-secondary);
  }

  .bg-brand-dark {
    background-color: var(--brand-dark);
  }

  .bg-brand-color {
    background-color: var(--brand-color);
  }

  .text-brand-primary {
    color: var(--brand-primary);
  }

  .text-brand-secondary {
    color: var(--brand-secondary);
  }

  .text-brand-dark {
    color: var(--brand-dark);
  }

  .text-brand-color {
    color: var(--brand-color);
  }

}

